.home {

    .cabeçalho {
        * {
            //border: 1px solid green ;
        }

        display: flex;
        justify-content: center;
        background-color: #69160A;
        height: 6rem;

        .duasDivs {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 90%;

            .iconTexto {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 42%;
                height: 3.5rem;

                .text {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 58%;
                    color: #fff;

                    .ps {
                        font-size: 14px;
                        width: 20%;
                    }

                }

                .icons {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    justify-items: flex-end;
                    align-items: center;
                    align-self: center;
                    width: 20%;

                    .divImagem {

                        width: 100%;
                        height: 2.9rem;

                        .Carrinho {
                            width: 65%;
                            height: 2rem;
                        }

                        .logi {
                            width: 45%;
                            height: 2rem;
                        }
                    }
                }
            }
        }
    }

    .section1-landing-page{
        display: flex;
        flex-direction: column;

        padding: 6em;
        padding-top: 1em;
        
        background-image: url("../../../public/assets/image/back-sec1-land.png") ;
        height: 43em;

        .p-section1-land{
            font-family: 'coiny';
            color: #FFB58C;
            font-size: 4em;
            height: 1em;
            padding: 2em;
        }

        .div-texto-section1{
            font-family: 'coiny';
            color: #ffffff;
            font-size: 1.9em;
            width: 19em;
            line-height: 37px;
            padding-left: 10 rem;
            margin-left: 2em ;
        }

        .button-cardapio-section1{
            font-family: 'coiny';
            font-size: em;
            color: #FFB58C;
            background-color: #69160A;
            font-size: 1.3em;
            border-radius: 35px 0px 35px 0px;
            padding: 7px 45px;
            margin: 2em;
            margin-left: 6em;
            height: 4rem;
            width: 12em;
        }

    }

    .section2-landing-page{
        display: flex;
        flex-direction: row;

        background-color: #FDD9C5;

        height: 43em;

        .d1{

            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content:left;

            .img-section2-d1{

                border: #69160A solid 10px;
                border-radius: 1rem;
                background-color: #69160A;
            }
        }
        
        .d2-img{
            height: 10em;
            width: 50em;

            border: #0000 solid 1px;
            border-radius: 2rem;
        }
    }
}