.home {
    .rec-dot{
        background-color: #1bbef000 !important;
        box-shadow: 0 0 1px 3px #ffffff00 !important;
    }
    .cabeçalho {
        

        display: flex;
        justify-content: center;
        background-color: #69160A;
        height: 6rem;

        .duasDivs {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 90%;

            .iconTexto {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 70%;
                height: 3.5rem;

                .text {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 60%;
                    color: #fff;

                    .a-home{
                        color: #ffffff;
                        text-decoration-color: #69160A;
                        font-size: 1.3rem;
                        width: 20%;
                        margin-left: 1.5rem;
                    
                    }

                    

                }

                .icons {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    justify-items: flex-end;
                    align-items: center;
                    align-self: center;
                    width: 20%;

                    .divImagem {

                        width: 100%;
                        height: 2.9rem;

                        .Carrinho {
                            width: 65%;
                            height: 2rem;
                        }

                        .logi {
                            width: 45%;
                            height: 2rem;
                        }
                    }
                }
            }
        }
    }

    .section1-landing-page{
        display: flex;
        flex-direction: column;
        

        padding: 6em;
        padding-top: 1em;
        
        background-image: url("../../../public/assets/image/back-sec1-land.png") ;
        


        .p-section1-land{
            font-family: 'coiny';
            color: #FFB58C;
            font-size: 4em;
            height: 1em;
            padding: 2em;
        }

        .div-texto-section1{
            font-family: 'coiny';
            color: #ffffff;
            font-size: 1.9em;
            width: 19em;
            line-height: 37px;
            padding-left: 10 rem;
            margin-left: 2em ;
        }

        .button-cardapio-section1{
            font-family: 'coiny';
            font-size: em;
            color: #FFB58C;
            background-color: #69160A;
            font-size: 1.3em;
            border-radius: 35px 0px 35px 0px;
            padding: 7px 45px;
            margin: 2em;
            margin-left: 6em;
            height: 4rem;
            width: 12em;
        }

    }

    .section2-landing-page{
        display: flex;
        
        flex-direction: row;
        
        background-color: #FDD9C5;

        height: 43em;

        .d2{

            display: flex;
            flex-direction: column;
            align-items: center;

            width: 100%;
            padding: 10em;
            margin-left: 3rem;
            
            

            .img-section2-d1{

                border: #69160A solid 10px;
                border-radius: 1rem;
                background-color: #69160A;

                
            }
            .div-p1{
             
                font-family: 'sail';
                font-size: 1.5em;
                height: 5em;
                padding: 7rem;
                padding-bottom: 5em;

                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .div-p2{
                font-family: 'livvic';
                font-size: 1.5em;
                height: 1em;
                width: 22em;
                
                
            }
        }
        
        .d1{
            display: flex;
            flex-direction: column;

            height: 10em;
            width: 50em;
            padding: 3em;
            

            border: #0000 solid 1px;
            border-radius: 2rem;

            .img-d2-4{
                display: flex;
                flex-direction: row;
                width: 10em;
            }
            img{
                width: 16rem;
                margin: 0.8rem;
            }
        }
      
    }

    .Land-sec3{
        display: flex;
        flex-direction: row;
        
        height: 60vh;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        background-color: #FDE5DE;

        .sec3-img1{
            display: flex;
            flex-direction: column;
            height: 80%;
            width: 20%;
            margin-left: 2%;
        
            img{
                width: 83%;
            }
        }

        .sec3-img2{
            display: flex;
            flex-direction: column;
            height: 80%;
            width: 20%;
            justify-content: flex-end;
            img{
                width: 82%;
            }
        }

        .sec3-img3{
            display: flex;
            flex-direction: column;
            height: 71%;
            width: 23%;
            justify-content: flex-start;
            align-items: center;
        
            img{
                width: 71%;
            }
        }

        .sec3-info{
            display: flex;
            flex-direction: column;
            width: 41%;
            height: 64%;
            justify-content: space-evenly;
            align-items: center;

            h1{
                font-family: 'sail';
                color: #C08100;
                font-size:39px ;
                width: 52%;
                text-align: center;
            }

            p{
                font-family: 'livvic';
                color: #000000;
                font-size: 17px;
                width: 59%;
                text-align: center;
            }

            .sec3-but{
                height: 15%;
                width: 40%;
                
                button{
                    width: 100%;
                    height: 100%;
                    border-radius: 50px;
                    background-color: #E3AD40;
                    color: #69160A;
                    font-family: 'coiny';
                    font-size: 16px;
                }


            }

            

        }
            
    }
    
     .section4-landing-page{
        background-image: url("../../../public/assets/image/back-morango.png") ;

        padding: 3em;
         
        .sec-card{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 55vh ;
            width: 90vw;

           .p{
            font-size: 12px;
           } 
            
            
        }
        .sec4-img{
            margin-top: 3vh;
            width: 20vh;

            
        
        }

        .sec4-card1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            height:     89%;
            width: 25%;
            border: 1px solid #ffffff ;
            padding: 0.5em;
            .sec4-card{

                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 2em;
            }

            .sec4-txtcard1 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 2em;
                width: 100%;
                height: 20%;

                .sec4-txt{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 80%;
                }

                .p{
                    font-size: 1em;
                    font-weight: 10em;
                    font-family: 'Inter';
               
                } 
            }

        }


        .sec4-card2{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            height:     89%;
            width: 25%;
            border: 1px solid #ffffff ;
            padding: 0.5em;
            .sec4-card{

                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 2em;
            }

            .sec4-txtcard2{
                display: flex;
                flex-direction: column;
                justify-content:center;
                align-items: center;
                margin-top: 2vh;
               
                width: 100%;
               

                .sec4-txt{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 80%;
                }

                .p{
                    font-size: 1em;
                    font-weight: 10em;
                    font-family: 'Inter';
               
                } 
            }

        }

        .sec4-card3{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            height:     89%;
            width: 25%;
            border: 1px solid #ffffff ;
            padding: 0.5em;
            .sec4-card{

                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 2em;
            }

            .sec4-txtcard3{
                display: flex;
                flex-direction: column;
                justify-content:center;
                align-items: center;
                margin-top: 2vh;
                width: 100%;
               

                .sec4-txt{
                    display: flex;
                    flex-direction: column;

                    align-items: center;
                }

                .p{
                    font-size: 1em;
                    font-weight: 10em;
                    font-family: 'Inter';
               
                } 
            }

        }
        


    }

    *{
        //border: 1px solid green ;
      }


      .Carousel{
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: #FDE5DE;

        h2{
            font-family: 'Sail';
            color: #69160A;
            text-align: center;
            font-size: 2rem;
            margin-bottom: 2rem;
        }


      }
    

}