*{
    box-sizing: border-box ;
    margin: 0;
    /*border: 1px green solid;*/
}    

.LPed{
    min-height: auto;

   .cabeçalho-TP{
        display: flex;
        flex-direction: row;
        align-items: center;    
        width: 100%;
        height: 8rem;
        background-color: #69160A;
        
        .div1-cabTP{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 8rem;

            .sub-div1-cabTP{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                height: 7rem;
                width: 23%;
            
                .seta-cabTP{
                    margin-left: 20px;
                }
                    

                .oi{
                    width: 15rem;
                    height: 2.8rem;
                }

                .sub{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 1.8rem;
                    width: 19rem;
                    height: 55%;    
                }   
            }
            
            .tit-cabTP{
                display: flex;
                flex-direction: column;
                justify-content: end;
                height: 100%;
                
                .lista-cabTP{
                    color:#ffffffff ;
                    align-self: end;
                    padding-bottom: 1rem;
                }
            }

            
            .sub-div2-cabTP{
                
                width: 23%;
                height: 100%;
                padding-bottom: 4rem;
                display: flex;
                align-items: flex-end ;

                .a-sub-div2-cabTP{
                    padding: 0rem 2rem;
                    color: #ffffffff;
                }
            }
        }
        
        
    }

    .seec{
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        // background-image: url('../../../../public/assets/image/drink.png');
        // background-color: ;
        width: 100%;
        min-height: 86vh;
        height: auto;
        padding-top: 3rem;


        .Bpesquisa-LP{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 80vh;
            height: 2.5rem;
            background-color: #fff;
            border-radius: 2rem;
            padding-right: 1rem ;
            

            
            
            
            



            img{
                width: 1.4rem;
                height: 1.6rem;
                    
            }    
            

            input{
                display: flex;
                padding-left: 3rem ;
                padding-top: 1rem;
                align-items: center;
                border-radius: 2rem 0rem 0rem 2rem;
                background-color: #fff;
                width:100% ;
                height: 1.5rem;
                outline: none;
                border: none;
                
            }
           
        }


        .tabelas{
            width: 80vw;
            height: 75vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem;
            padding-top: 2rem;
        }
        
        table{

            border-collapse: collapse;
            width: 78vw;
            
            
            

            thead{
                background-color: #8C392E;
                height: 2rem;

                
                padding: 10rem;
                th{
                    text-align: center;
                    
                    
                }
            }
            
            tbody{
                background-color: #ffff;
                text-align: center;
                width: auto;

                tbody tr:nth-child(even) {
                    background-color: #737373;
                    width: 20rem;
                }

                .a{
                    text-align: center;
                    width: 20rem;
                    
                    
                }
                .editar, .nao{
                    width: 1.5rem;
                    height: 1.5rem;
                    border: 0;
                    box-sizing: border-box;
                    background-color: #fff;
                

                    .editar, .nao{
                        width: 1rem;
                        height: 1rem;
                        border: 0;
                        box-sizing: border-box;
                        background-color: #fff;
                        
                    }
                }
            }
        }
        
    }

}