
    
    .main-principal{
        *{
            box-sizing: border-box ;
            margin: 0;
            /*border: 1px green solid;*/
        }    
        
        
        .header{
            background-color: #69160A;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            padding: 0rem 5rem ;
            width: 100vw;
            height: 6rem;
            

            .div-1{
                display: flex;
                width: 20%;
                justify-content: space-between;
                align-items: center;
                .seta{
                    width: 1.9rem;
                    height: 2rem;
                }

                .logo{
                    margin-left: 2rem;
                    width: 80%;
                }
                
            }
            .ab{
                text-align: center;
                color: #ffffff;
                font-size: 20px;

                hr{
                    width: 0rem;
                    height: 0rem;
                    background-color: #94423000;
                }
            }
            .ab:hover{
                cursor: pointer;

                hr{
                    cursor: pointer;
                    width: 4.5rem;
                    height: 0.20rem;
                    background-color: #a85441;
                    transition: 0.9s;
                }
            }

        }
        .J{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 100vw;
            height: 51rem;
            background-image: url('../../../../public/assets/image/adm2.png');
            background-size: 80rem 51.5rem ;
            background-repeat: no-repeat;
            
            

            .div-2{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: 60rem;
                padding-bottom: 5rem ;

                h1{
                    font-size: 50px;
                    color: #ffffff;
                    margin-bottom: 4rem ;
                }
                .b{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    width: 40%;
                   
                    
                    .ap{
                        border-radius: 1.5rem 0rem;
                        width: 18rem;
                        height: 3.6rem;
                        background-color: #C8AE89;
                        margin: 0rem 0rem 2rem;
                        font-size: 1.5rem;
                        padding-top: 0.5rem;          
                        
                        
                    }
                    .ap:hover{

                        cursor: pointer;
                        background-color: #8C392E;
                        color: #ffffff;
                        transition: 1s;
                        width: 85%;

                        
                    }
                } 

                
            }

        }
        

    
    }

