.Card{

    *{
        box-sizing: border-box ;
        margin: 0;
        //border: 1px rgb(7, 2, 63) solid;
    }

    //border: 1px rgb(7, 2, 63) solid;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 20rem;
    margin-top: 3rem;
     
    .vermelha{



        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 0.5rem;
        width: 93%;
        height: 18.5rem;

       


        .verdeClaro{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 0.5rem;
    
                
            width: 95%;
            height: 9rem;
    
            .ima{
                 width: 70%;
                height: 8.5rem;
            }
        }

        .verdeEscuro{
    
            display: flex;
            flex-direction: row;
            justify-content: baseline;
            align-items: flex-end;
        
            width: 95%;
            height: 5em;
            //border: 1px rgb(7, 2, 63) solid;
        }
    
        .amarela{
                
            width: 40%;
            border-bottom: 0.1rem solid black ;
            border-left: 0.1rem solid black ;
            height: 4.5em;
        }
    
        .azul{

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 54%;
            height: 6.5em;
            text-align: center;
            
            font-size: 12px;

            //border: 0.1rem solid rgb(0, 136, 255) ;
        }
    
        .roxo{
            border-right: 0.1rem solid black ;
            border-bottom: 0.1rem solid black ;
            width: 35%;    
            height: 4.5em;     
        }
    }
    .vermelha:hover{
                
        scale: 1.03;
        transition: 0.5s;
        background-color: #E9C1B5;

        .btVer{
        
            background-color: #69170a;
            color: #d9d9d9;
            transition: 0.7s;
            width: 70%;
            
        }

    }

    .btVer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 35%;
        height: 1.8rem;
        border-radius: 2rem 0rem  ;

        background-color: #69170a00;
        color: #d9d9d900;
        
        //border: 1px rgb(7, 2, 63) solid;
    }
    .textu1{
        width: 100% ;
        margin-bottom:3.5px ;
        font-size: 11px;
    }
    .textu{
        
        //border: 1px rgb(7, 2, 63) solid;
    }

    
}