
 .perfil-user{
    
    
       

        .cont3-per{
         display: flex;
             flex-direction: row;
        justify-content: end;
        width: 20%;
        height: 40rem;
        background-color: #f4929285;
        border-radius: 3rem 0rem 0rem 3rem;
       }
 }
