.telaEndereco{

    

    height: 60rem;
    background-color: #FDE5DE;

    .sectionPrincipal{

        display: flex;
        flex-direction: row;
        margin-top: 5rem;
        width: 100%;
        height: 40rem;

        .rosaEscura1{
            display: flex;
            flex-direction: row;
            justify-content: end;
            width: 20%;
            height: 40rem;
            background-color: #f4929285;
            border-radius: 0rem 3rem 3rem 0rem;

            .textImage{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: 87%;
                height: 20rem;
                // border: solid 0.1px green;

                .Minhas{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 2rem;

                    p{
                        padding-left: 0.5rem;
                        font-weight: 450;

                    }

                }
            }
        }

        .rosaCLara{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 60%;
            height: 40rem;
            background-color: #FFE1D8;
            // background-color: blue;

            .info{

                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 100%;
                height: 40rem;
                padding-top: 3rem;
                padding-left: 1.6rem;
                // border: solid 4.1px green;

                .h4P{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 50%;
                    height: 5.8rem;
                    // border: solid 0.1px black;

                    p{
                        font-weight: 600;
                        padding-bottom:1.9rem;   
                    }
                }

                .inpucont-cadastro{

                    display: flex;
                    flex-direction: row;
                    width: 33%;
                    height: 7rem;
                    justify-content: flex-end;
                    // border: 1px green solid;

                    
                    p{
                        padding-right: 1.2rem;
                        font-weight: 550;

                    }
         
                    .inserir-imagem{
                        background-color: #fff;
                        height: 7em;
                        width: 51%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        border-radius: 1.2rem;  
                        align-items: center;
                        padding-top: 20px;  

                        

                        img{
                            max-width: 100% ;
                            max-height: 7rem;
                        }
                        
                        

                    }
                    .inserir-imagem img{
                        width: 28%;
                    }
                
                    .inserir-imagem input{
                        visibility: hidden;
                    }
                


                
                }

                .ESE{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    width: 87%;
                    height: 2.9rem;
                    margin-bottom: 0rem;
                    margin-top: 2rem;
                    // border: solid 0.1px green; 

                    .pa{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        padding-right: 1rem;
                        font-size: 15px;
                        
                    
                        p{
                            padding-right: 0.6rem;
                            font-weight: 550;

                        }
                        a{
                            color: #69160A;
                            font-weight: 650;

                        }
                    }
                }

                .iptu{

                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    width: 75%;
                    height:3rem;
                    margin-bottom: 1rem;
                    
                    // border: solid 0.1px blueviolet;

                    .nome{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        height: 2.6rem;
                        padding-left: 3rem;
                        align-items: center;
                        width: 21.5%;
                        font-size: 14px;
                        font-weight: 550;

                        


                    }

                    .put{
                        width: 78%;
                        border-radius: 5px;
                    }

                    .upt{
                        
                        width: 74%;
                        border-radius: 5px;
                        margin-right: 1.5rem;                        

                    }
                    .cpf{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        height: 2.6rem;
                        margin-right: 1.2rem;
                        align-items: center;
                        font-weight: 500;
                    }


                }
                .pitu{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    width: 69%;
                    height:3rem;
                    margin-bottom: 1rem;

                    // border: solid 0.1px blueviolet;

                    .DN{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;


                        width: 94%;
                        // border: solid 0.1px red;

                        .inputDN{
                            padding-left: 1rem;
                            width: 86%;
                            // margin-right: 2rem;
                            border-radius: 5px;

                        }

                        p{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            width: 30%;
                            height: 2.6rem;
                            align-self: center;
                            font-size: 12.3px;
                            font-weight: 600;

                        }
                        

                    }
                    

                    .cell{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        width: 94%;
                        

                        .pN{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            height: 2.6rem;
                            width: 26%;
                            align-self: flex-end;
                            font-size: 16px;
                            font-weight: 600;
                            padding-left: 1.6rem;

                        }
                        .inputN{
                            width: 63%;
                            border-radius: 5px;

                            
                        }


                        
                        
                    }
                }


                .botão{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    width: 94%;
                    height: 2.5rem;

                    // border: solid 0.1px blueviolet;

                    button{
                        width: 15%;
                        background-color:#69160A;
                        color: #ffffff;
                        border-radius: 3px;
                    }
                }
                

            }


        }
        .rosaEscura2{
            width: 20%;
            height: 40rem;
            background-color: #f4929285;
            border-radius: 3rem 0rem 0rem 3rem ;
        }
    }
}


