
.cadastrousuario{

    *{
        outline: none;
    }

    display: flex;
    flex-direction: column;
    
    .alinhamento-cadastrouser{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 32em;
        width: 64em;
    //    border: 1px green solid;

    }

    

    .cont1-cadastro{
        
        display: flex;
        flex-direction: row;
        background-image:url(../../../../public/assets/image/fund_cadastrouser.png);
        width: 100vw;
        height: 90vh; 
        background-repeat: no-repeat;
        background-size: 118% 100%;
        background-position: 47%;
        justify-content: center;
       
        align-items: center;


    }

    .subcon1-cadastro{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 32rem;

        // border: 1px black solid;

    }

    .subcon2-cadastro{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // justify-content: end;
        height: 18rem;
        margin-top: 14rem;

        // border: 1px rebeccapurple solid;


    }

    .subcon3-cadastro{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 30em;
        
    }
    .inpucont-cadastro{

        display: flex;
        flex-direction: column;
        width: 17em;
        height: 5rem;
        color: #ffffff;
        justify-content: space-evenly;
        

        // border: 1px red solid;


    }
    .Imgcadastro{

        display: flex;
        flex-direction: column;
        width: 17em;
        height: 13rem;
        color: #ffffff;
        justify-content: center;
        
        .igm{
            border-radius: 10rem;
        }

        p{
            margin-bottom: 0.5rem;
        }

        // border: 1px red solid;

    }

    .input-cadastro{
        background-color: #EEDCCF;
        border-radius: 0.5em;
        height: 7vh;
    }

    
    .bt-cadastrar{
            color: #ffffff;
            background-color: #944236;
            width: 14vw;
            height: 4.5vh;
            border-radius: 14px;
            align-self: center;
    }

    .fun-cad{
        width: 18em;
    }
    .inpu-cadast{
        display: flex;
        flex-direction: column;
        width: 17em;
        height: 5rem;
        color: #ffffff;
        justify-content: space-evenly;
        // justify-content: end;
        


    }

    .inserir-imagem{
        background-color: #EEDCCF;
        height: 10em;
        width: 10em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 1em;  
        align-items: center;
        padding-top: 20px;  
    }

    .inserir-imagem img{
        width: 4em;
    }

    .inserir-imagem input{
        visibility: hidden;
    }
    label{
        margin-bottom: 0.5rem;
    }

    .link-logincadastro{
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .a-logincadastro{
        color: #E9877A;
    }

    .a-logincadastro:hover{
        font-size: 17.5px;
    }

}




