

.categoria{

    
    div{
        width: 15rem;
        height: 25rem;
        border-radius: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        // border-radius: 50px;

        
        text-align: center;
        font-weight: 100;


        img{
            width: 100%;
            border-radius: 30px;
        }
        
        h1{
            color: #fff;
            position: absolute;
            bottom: 10%;
            font-size: 2rem;
        }


    }

    div:hover{
        scale: 1.02;
        transition: 0.5s;
    }
}
