.telaEndereco{

    

    height: 60rem;
    background-color: #FDE5DE;

    .sectionPrincipal{

        display: flex;
        flex-direction: row;
        margin-top: 5rem;
        width: 100%;
        height: 40rem;

        .rosaEscura{
            display: flex;
            flex-direction: row;
            justify-content: end;
            width: 20%;
            height: 45rem;
            background-color: #f4929285;
            border-radius: 0rem 3rem 3rem 0rem;

            .textImage{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: 87%;
                height: 20rem;
                // border: solid 0.1px green;

                .Minhas{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 2rem;

                    p{
                        padding-left: 0.5rem;
                        font-weight: 450;

                    }

                }
            }
        }

        .rosaCLar{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 60%;
            min-height: 45rem;
            background-color: #FFE1D8;
            // background-color: blue;

            .infas{

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                min-height: 40rem;
                padding-left: 2rem;

                .pha{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    
                    width: 70%;
                    height: 6rem;

                    
                    .grci{
                        font-weight: 600;
                        width: 86%;
                        height: 3rem;
                        // border: solid 0.1px black;

                    }
                    .escolha{
                        font-weight: 600;
                        padding-bottom:1.9rem;   
                    }
                }

                .inputsPag{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 95%;
                    height: 37rem;
                    margin-left: 0.7rem;
                    
                    // border: solid 0.1px blueviolet;
                    
                    .tpPagamentos{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        width: 60%;
                        height: 3rem; 
                        background-color: #C6B0AD;
                        

                        // border: solid 0.1px blueviolet;
                        
                        .imgTp{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-evenly;
                            align-items: center;
                            width: 30%;
                            height: 2.5rem;
                            cursor: pointer;
                            // border: solid 0.1px brown;



                            .img{
                                width: 33%;
                                
                                max-height: 2.5rem;
                                // border: solid 0.1px chartreuse;

                                .cart達o{
                                    width: 100%;
                                    max-height: 2.5rem;
                                }
                                .Pix{
                                    width: 80%;
                                    max-height: 2.5rem;
                                }
                                .i{
                                    width: 80%;
                                    max-height: 2.5rem;
                                }
                            }


                        }
                        

                    }

                    .itParagrafo{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        
                        width: 100%;
                        height: 45rem;
                        padding-left: 2rem;
                        padding-top: 1.5rem;
                        background-color: #C6B0AD;
                        // border: solid 0.1px red;
                       
                        .MostraCart達o{

                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            width: 80%;
                            height: 20rem;
                            // border: solid 0.1px red;

                            .select{
                                height: 3.5rem;
                            }
                            .tresInputs{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;
                                width: 45%;
                                height: 20rem;
                                // border: solid 0.1px darkblue;

                                .li{
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-around;
                                    width: 100%;
                                    height: 6.5rem;

                                    // border: solid 0.1px yellow;

                                    input{
                                        width: 100%;
                                        height: 3.5rem;
                                    }
                                }

                            }
                            .bot達oCt{
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                background-color:#69160A!important;

                                width: 94%;
                                height: 2.5rem;
            
                                border: solid 0.1px blueviolet;
            
                                .Ct{
                                    width: 80%;
                                    height: 2.5rem;
                                    background-color:#69160A !important;
                                    color: #ffffff;
                                    border-radius: 3px;
                                border: solid 0.1px blueviolet;

                                }
                            }

                        }

                           
                       
                        .SeisInputs{

                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            width: 90%;
                            height: 25rem;

                            // border: solid 0.1px red;

                            .doisInputs{
                                width: 45%;
                                height: 20rem;
                                // border: solid 0.1px darkblue;

                                .li{
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-around;
                                    width: 100%;
                                    height: 6.5rem;

                                    // border: solid 0.1px yellow;

                                    input{
                                        width: 100%;
                                        height: 3.5rem;
                                    }
                                }

                            }

                            .QrSalvar{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-evenly;
                                align-items: center;

                                width: 40%;
                                height: 24rem;

                                // border: solid 0.1px yellow;

                                .Qr{
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    width:90% ;
                                    
                                    // border: solid 0.1px cyan;

                                    height: 20rem;
                                    
                                    img{


                                        width: 85%;
                                        max-width: 85%;
                                        min-width: 85%;

                                        height: 20rem;
                                        max-height: 20rem;
                                        min-height: 15rem;

                                        // border: solid 0.1px cyan;

                                    }

                                }

                            }


                           

                        }

                        
                       
                        .MostrarBoleto{

                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            width: 90%;
                            height: 25rem;

                            // border: solid 0.1px black;

                            .doisInputsBoleto{
                                width: 45%;
                                height: 20rem;
                                // border: solid 0.1px darkblue;

                                .lib{
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-around;
                                    width: 100%;
                                    height: 6.5rem;

                                    // border: solid 0.1px yellow;

                                    input{
                                        width: 100%;
                                        height: 3.5rem;
                                    }
                                }

                            }

                            .Boleto{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-evenly;
                                align-items: center;

                                width: 40%;
                                height: 24rem;

                                // border: solid 0.1px yellow;

                                .blt{
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    
                                    padding-top: 2rem;
                                    width:100% ;

                                    
                                    // border: solid 0.1px cyan;

                                    height: 20rem;
                                    
                                    .bolet{


                                        width: 100%;
                                        // max-width: 100%;
                                        // min-width: 100%;

                                        height: 10rem;
                                        // max-height: 20rem;
                                        // min-height: 15rem;

                                        // border: solid 0.1px red;

                                    }

                                }

                            }
                           

                        }

                        .bot達o{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            width: 94%;
                            height: 2.5rem;
        
                            // border: solid 0.1px blueviolet;
        
                            .buttonPB{
                                width: 40%;
                                background-color:#69160A;
                                color: #ffffff;
                                border-radius: 3px;
                            }
                        }
                        
        
                    }

                }

                
            }


        }
        .rosaEscu{
            width: 20%;
            min-height: 45rem;
            background-color: #f4929285;
            border-radius: 3rem 0rem 0rem 3rem ;
        }
    }
    
}


