
* {
    box-sizing: border-box;
    margin: 0;
    border: 1px green solid;
}



.loginusuario{

    display: flex;
    flex-direction: column;
    background-image:url(../../../../public/assets/image/fundologinuser.png);
    width: 100%;
    height: 100%;


    .cont1-login{

        display: flex;
        flex-direction: row;
       
    }

}