.loginusuario {

    * {
        outline: none;
        // border: 1px green solid;
    }

    display: flex;
    flex-direction: column;


    .cont1-login {
        display: flex;
        flex-direction: row;
        background-image: url(../../../../public/assets/image/fundologinuser.png);
        width: 100%;
        height: 99vh;
        background-size: 118% 100%;
        background-position: 47%;
        justify-content: space-evenly;
        align-items: center;

        //border: 1px green solid;
    }

    .subcont1-loginuser {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 20%;
        height: 29rem;


        .oir {
            width: 100%;
            height: 19rem;
        }

        .btLinks {
            display: flex;
            flex-direction: column;
            
            align-items: center;
            width: 100%;
            height: 8rem;

            .bt {
                display: flex;
                flex-direction: row;
                justify-items: center;
                justify-content: center;
                background-color: #944236;
                width: 14vw;
                height: 6vh;
                border-radius: 14px;
                align-self: center;
                cursor: pointer;
            }
        }
    }

    .bt-loginuser {
        background-color: #944236;
        color: #ffffff;
        width: 100%;
        border-radius: 14px;
        cursor: pointer;
    }

    .link-loginuser {
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 17px;
    }

    .a-loginuser {
        color: #E9877A;
    }

    .a-loginuser:hover {
        font-size: 17.5px;
    }

    .subcont2-loginuser {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 16rem;
        width: 27%;
        align-items: center;
        justify-items: center;


        .vid{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 14rem;

        }
    }


    .inpucont-loginuser {

        display: flex;
        flex-direction: column;
        width: 22.6rem;
        
        color: #ffffff;
        justify-content: space-between;

    }

    .input-loginuser {
        background-color: #EEDCCF;
        border-radius: 0.2em;
        height: 7vh;
    }

    .fun-cad {

        width: 15vh;
    }

}

@media screen and (min-width:425px) and (max-width:1024px) {
    .cadastrousuario{

        *{
            outline: none;
        }
    
        display: flex;
        flex-direction: column;
        
        .alinhamento-cadastrouser{
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 32em;
            width: 64em;
           // border: 1px green solid;
    
        }
    
        
    
        .cont1-cadastro{
            
            display: flex;
            flex-direction: row;
            background-image:url(../../../../public/assets/image/fund_cadastrouser.png);
            width: 100vw;
            height: 90vh; 
            background-repeat: no-repeat;
            background-size: 118% 100%;
            background-position: 47%;
            justify-content: center;
           
            align-items: center;
    
    
        }
    
        .subcon1-cadastro{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 34rem;
    
            //border: 1px green solid;
    
        }
    
        .subcon2-cadastro{
    
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 33rem;
    
            //border: 1px green solid;
    
    
        }
    
        .subcon3-cadastro{
    
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 30em;
            
        }
        .inpucont-cadastro{
    
            display: flex;
            flex-direction: column;
            width: 17em;
            height: 5rem;
            color: #ffffff;
            justify-content: center;
            
    
            //border: 1px green solid;
    
    
        }
        
        .input-cadastro{
            background-color: #EEDCCF;
            border-radius: 0.5em;
            height: 4vh;
        }
    
        
        .bt-cadastrar{
                color: #ffffff;
                background-color: #944236;
                width: 14vw;
                height: 3vh;
                border-radius: 14px;
                align-self: center;
        }
    
        .fun-cad{
            width: 15em;
        }
    
        .inserir-imagem{
            background-color: #EEDCCF;
            height: 10em;
            width: 10em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 1em;  
            align-items: center;
           
        }
    
        .inserir-imagem img{
            width: 4em;
        }
    
        .inserir-imagem input{
            visibility: hidden;
        }
    
        .link-logincadastro{
            color: #ffffff;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .a-logincadastro{
            color: #E9877A;
        }
    
        .a-logincadastro:hover{
            font-size: 17.5px;
        }
    
    }
}


@media screen and (min-width:425px) and (max-width:768px) {
   
    
    .loginusuario {

    
    
        .cont1-login {
            display: flex;
            flex-direction: row;
            background-image: url(../../../../public/assets/image/fundologinuser.png);
            width: 100%;
            height: 80vh;
            background-size: 118% 100%;
            background-position: 40%;
            justify-content: space-evenly;
            align-items: center;
    
            
        }
    
        .subcont1-loginuser {
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 20%;
            height: 29rem;
    
    
            .oir {
                width: 27vw;
                height: 30vh;
            }
    
            .btLinks {
                display: flex;
                flex-direction: column;
                
                align-items: center;
                margin-top: 1em;
                width: 100vw;
                height: 8rem;
    
                .bt {
                    display: flex;
                    flex-direction: row;
                    justify-items: center;
                    justify-content: center;
                    background-color: #944236;
                    width: 14vw;
                    height: 4vh;
                    border-radius: 14px;
                    align-self: center;
                    cursor: pointer;
                }
            }
        }
    
        .bt-loginuser {
            background-color: #944236;
            color: #ffffff;
            width: 100%;
            border-radius: 14px;
            cursor: pointer;
        }
    
        .link-loginuser {
            color: #ffffff;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 17px;
        }
    
        .a-loginuser {
            color: #E9877A;
        }
    
        .a-loginuser:hover {
            font-size: 17.5px;
        }
    
        .subcont2-loginuser {
    
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 16rem;
            width: 27%;
            align-items: center;
            justify-items: center;
    
    
            .vid{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 14rem;
    
            }
        }
    
    
        .inpucont-loginuser {
    
            display: flex;
            flex-direction: column;
            width: 22.6rem;
            
            color: #ffffff;
            justify-content: space-between;
    
        }
    
        .input-loginuser {
            background-color: #EEDCCF;
            border-radius: 0.2em;
            height: 6vh;
            width: 40vw;
        }
    
        .fun-cad {
    
            width: 15vh;
        }
    }
    
           
 
    
 
  
}

@media screen and (min-width:370px) and (max-width:425px) {
   
    
    .loginusuario {

    
    
        .cont1-login {
            display: flex;
            flex-direction: row;
            background-image: url(../../../../public/assets/image/fundologinuser.png);
            width: 100%;
            height: 80vh;
            background-size: 118% 100%;
            background-position: 40%;
            align-items: center;
    
            
        }
    
        .subcont1-loginuser {
            
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 20%;
            height: 29rem;
    
    
            .oir {
                width: 28vw;
                height: 20vh;
            }
    
            .btLinks {
                display: flex;
                flex-direction: column;
                
                align-items: center;
                margin-top: 0.5em;
                width: 100vw;
                height: 6rem;
    
                .bt {
                    display: flex;
                    flex-direction: row;
                    justify-items: center;
                    justify-content: center;
                    background-color: #944236;
                    width: 14vw;
                    height: 4vh;
                    border-radius: 14px;
                    align-self: center;
                    cursor: pointer;
                }
            }
        }
    
        .bt-loginuser {
            background-color: #944236;
            color: #ffffff;
            width: 100%;
            border-radius: 14px;
            cursor: pointer;
        }
    
        .link-loginuser {
            color: #ffffff;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 10px;
        }
    
        .a-loginuser {
            color: #E9877A;
        }
    
        .a-loginuser:hover {
            font-size: 10.5px;
        }
    
        .subcont2-loginuser {
    
            display: flex;
            flex-direction: column;
            height: 16rem;
            width: 27%;
            align-items: center;
            justify-items: center;
    
    
            .vid{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 14rem;
    
            }
        }
    
    
        .inpucont-loginuser {
    
            display: flex;
            flex-direction: column;
            width: 22.6rem;
            
            color: #ffffff;
        
    
        }
    
        .input-loginuser {
            background-color: #EEDCCF;
            border-radius: 0.2em;
            height: 3vh;
            width: 40vw;
        }
    
        .fun-cad {
    
            width: 15vh;
        }
    }
    
           
 
    
 
  
}
















