.cardEnde {



    p {
        font-size: 13px;
        font-weight: 600;
        padding-bottom: 0.5rem;

    }

    h2 {
        font-size: 15px;
        font-weight: 700;
    }

    width: 16rem;
    height: 10rem;
    // border: 0.1px solid green;



    .cor{

        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 10rem;
        border: 0.1px solid black;
        
        .ex{
            display: flex;
            flex-direction: row;
            justify-content: end;
            padding-right: 2px;
            padding-top: 2px;
            width: 100%;
            height: 16px;

            .xe{
                width: 0px;
                height: 0px;
            }

        }

        .casas {
            display: flex;
            flex-direction: row;
            
            width: 85%;
            // border: 0.1px solid blue;

            .cs {
                display: flex;
                flex-direction: row;
                justify-content: left;
                
                width: auto;
                height: 1.9rem;
                padding-top: 0.3rem;
                padding-left: 0.5rem;
                // border: 0.1px solid blue;

            }

            .point {
                width: 2rem;
                height: 1.9rem;
                margin-right: 0.5rem;
                // border: 0.1px solid green;



                g {
                    max-height: 1.5rem;
                    width: 2rem;
                }
            }
        }

        .infosEndere {
            display: flex;
            flex-direction: column;
            height: 4.2rem;
            margin-bottom: 1rem;

            // border: 0.1px solid green;  

            .ph {
                display: flex;
                flex-direction: row;
                padding-left: 0.5rem;



                // border: 0.1px solid blueviolet;


            }
        }

    }

    .cor:hover{

        width: 35%;
        background-color: #A65D53;
        color: #fff;
        transition: 1s;
        border-radius: 10px;


        .xe{
            width: 13px;
            height: 13px;
            transition: 1s;

        }
        .casas{
            padding-left: 0.4rem;
            // padding-bottom: 0.4rem;

            transition: 1s;
            color: #fff;
        }

        .ph{
            padding-left: 1rem;
            

            transition: 1s;
            color: #fff;
        }
        .infosEndere{
            margin-bottom: 1rem;

        }



    }



}