.Card{

    *{
        box-sizing: border-box ;
        margin: 0;
        //border: 1px rgb(7, 2, 63) solid;
    }

    border: 1px rgb(7, 2, 63) solid;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    height: 16rem;
    margin-top: 3rem;

    
         
    
            
    .vermelha{

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-left: 1rem;            
        border-radius: 0.5rem;
        width: 19%;
        height: 16rem;
          
        position: relative;
        .verdeClaro{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 0.5rem;
    
                
            width: 95%;
            height: 9rem;
    
            .ima{
                 width: 99%;
                height: 8.5rem;
            }
        }

        .verdeEscuro{
    
            display: flex;
            flex-direction: row;
            justify-content: baseline;
        
            width: 95%;
            padding-top: 2rem;
        }
    
        .amarela{
                
            width: 43%;
            border-bottom: 0.1rem solid black ;
            border-left: 0.1rem solid black ;
    
        }
    
        .azul{

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 49%;
            height: 4.1rem;
            text-align: center;
            font-size: 12px;

            //border: 0.1rem solid rgb(0, 136, 255) ;
        }
    
        .roxo{
            border-right: 0.1rem solid black ;
            border-bottom: 0.1rem solid black ;
            width: 45%;              
        }
    }
    .vermelha:hover{
                
        scale: 1.03;
        transition: 0.5s;
        background-color: #E9C1B5;

    }
}